@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Tenor Sans'), local('TenorSans'), url(https://fonts.gstatic.com/s/tenorsans/v10/bx6ANxqUneKx06UkIXISn3F4DA.woff) format('woff');
}
