<?php  if ($totRows) {?>
</ul>
<?php  } else if (false) { ?>

<ul class='soc_bar'>
<li class='obj'><a href="#" class="goodshare" data-type="vk" style='background-position: 0 0'></a></li>
<li class='obj'><a href="#" class="goodshare" data-type="fb" style='background-position: -40px 0'></a></li>
<li class='obj'><a href="#" class="goodshare" data-type="ok" style='background-position: -78px 0'></a></li>
<!--<li class='obj'><a href="#" class="goodshare" data-type="mr" style='background-position: -156px 0'></a></li>
<li class='obj'><a href="#" class="goodshare" data-type="tw" style='background-position: -194px 0'></a></li>-->

</ul>
<?php }?>