<div>

    <div>
        <label>
            Количество плиток в строке:
            <input type="number" class="nc--small" min="2" value="2"
                   name="mixin.settings.column_number">
        </label>
    </div>

    <div>
        <label>
            Горизонтальный отступ между плитками:
            <input type="number" class="nc--small" min="0" name="mixin.settings.horizontal_spacing"> пикс.
        </label>
    </div>

    <div>
        <label>
            Вертикальный отступ между плитками:
            <input type="number" class="nc--small" min="0" name="mixin.settings.vertical_spacing"> пикс.
        </label>
    </div>

    <div>
        <label>
            Выравнивание плитки по вертикали:
            <select name="mixin.settings.align_self">
                <option value="flex-start">по верхнему краю</option>
                <option value="center">по середине</option>
                <option value="flex-end">по нижнему краю</option>
            </select>
    </div>

</div>
