<font color='gray'>Внешний вид:</font><br />
<select name='f_type'>
<option value='button'>кнопка</option>
<option value='link'>ссылка</option>
<option value='icon'>иконки и меню</option>
<option value='none'>только иконки</option>
</select><br /><br />

<input name='f_yaru' value='0' type='hidden' />
<input name='f_yaru' id='f_yaru' value='1' type='checkbox' />
<label for='f_yaru'><font color='gray'>Я.ру</font><br /></label><br />

<input name='f_vkontakte' value='0' type='hidden' />
<input name='f_vkontakte' id='f_vkontakte' value='1' type='checkbox' />
<label for='f_vkontakte'><font color='gray'>ВКонтакте</font><br /></label><br />

<input name='f_facebook' value='0' type='hidden' />
<input name='f_facebook' id='f_facebook' value='1' type='checkbox' />
<label for='f_facebook'><font color='gray'>Facebook</font><br /></label><br />

<input name='f_twitter' value='0' type='hidden' />
<input name='f_twitter' id='f_twitter' value='1' type='checkbox' />
<label for='f_twitter'><font color='gray'>Twitter</font><br /></label><br />

<input name='f_odnoklassniki' value='0' type='hidden' />
<input name='f_odnoklassniki' id='f_odnoklassniki' value='1' type='checkbox' />
<label for='f_odnoklassniki'><font color='gray'>Одноклассники</font><br /></label><br />

<input name='f_moimir' value='0' type='hidden' />
<input name='f_moimir' id='f_moimir' value='1' type='checkbox' />
<label for='f_moimir'><font color='gray'>МойМир</font><br /></label><br />

<input name='f_lj' value='0' type='hidden' />
<input name='f_lj' id='f_lj' value='1' type='checkbox' />
<label for='f_lj'><font color='gray'>Livejournal</font><br /></label><br />

<input name='f_friendfeed' value='0' type='hidden' />
<input name='f_friendfeed' id='f_friendfeed' value='1' type='checkbox' />
<label for='f_friendfeed'><font color='gray'>Friendfeed</font><br /></label><br />

<input name='f_moikrug' value='0' type='hidden' />
<input name='f_moikrug' id='f_moikrug' value='1' type='checkbox' />
<label for='f_moikrug'><font color='gray'>Мой круг</font><br /></label><br />