&{min-height: 60px; position: relative;}

.tpl-block-list-objects {

}
.tpl-block-list-objects[max-width="500px"] {
    display: flex;
    flex-direction: column;
}
.tpl-block-list-objects[max-width="500px"]>* {
    position: relative;
}
.contacts-map {
    flex-grow: 1 !important;
    min-height: 100px;
    z-index:0;
}
.tpl-block-list-objects[min-width="500px"] .contacts-object:not(.contacts-map) {
    display: flex;
    position: absolute;
    z-index:0;
    top:0;bottom:0;
}
.tpl-block-list-objects[min-width="500px"] .contacts-object:not(.contacts-map) > div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-width: 210px;
    max-width: 310px;
    background-color: white;
}
.tpl-block-list-objects[max-width="500px"] .contacts-object:not(.contacts-map) > div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}
.tpl-block-list-objects .contacts-object-image {
    /*margin-bottom: 30px;*/
    /*width: 64px;*/
    /*height: 64px;*/
}
.tpl-block-list-objects .contacts-object-image * {
    width: 100%;
    height: 100%;
}
.tpl-block-list-objects .contacts-object-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.tpl-block-list-objects .contacts-object-image svg, .tpl-block-list-objects .contacts-object-image img {
    max-width: 64px !important;
    max-height: 64px !important;
}


.tpl-block-list-objects .contacts-object-header {
    /*font-size: 24px;*/
    /*line-height: 1.35;*/
    /*font-weight: 600;*/
}

.tpl-block-list-objects .contacts-object-header + .contacts-object-about {
    /*margin-top: 20px;*/
}

.tpl-block-list-objects .contacts-object-about {
    /*font-weight: 300;*/
    /*font-size: 18px;*/
    /*line-height: 1.55;*/
}

.tpl-block-list-objects .contacts-object-socials-social {
    margin: 0 4px;
    width: 3rem;
    height: 3rem;
    background-color: var(--tpl-color-background-accent);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 4px;
}

.tpl-block-list-objects .contacts-object-socials-social svg {
    width: 2rem !important;
    height: 2rem !important;
}

.tpl-block-list-objects .contacts-object-socials-social svg path {
    fill: var(--tpl-color-foreground-accent);;
}

.tpl-block-list-objects[min-width="500px"] .contacts-object.left {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 120px;*/
    /*margin-right: auto;*/
    /*margin-left: 0;*/

    /*padding: 40px 60px;*/
    max-width: 100%;
    /*left: 0;*/
    /*top: 0;*/
    left: 0;
    /*bottom: 0;*/
}

.tpl-block-list-objects[min-width="500px"] .contacts-object.centerH {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 120px;*/
    margin-right: auto;
    margin-left: auto;
    /*padding: 40px 60px;*/
    max-width: 100%;
}

.tpl-block-list-objects[min-width="500px"] .contacts-object.right {
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 120px;*/
    margin-right: 0;
    margin-left: auto;
    /*padding: 40px 60px;*/
    max-width: 100%;
    right:0;

}

.tpl-block-list-objects[min-width="500px"] .contacts-object.top {
    align-items: flex-start;
    top:0;
}

.tpl-block-list-objects[min-width="500px"] .contacts-object.centerV {
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.tpl-block-list-objects[min-width="500px"] .contacts-object.bottom {
    align-items: flex-end;
    bottom:0;
}

.tpl-block-list-objects[min-width="500px"] .contacts-object.stretch {
    align-items: stretch;
    top:0;
    bottom: 0;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}
