<!-- FormPrefix --><?php  if(!$param){ ?>
	<div class="view-body-inline export-excel">
		<div class="v-title">
			<a href="<?=$addLink?>?isNaked=1" class="add-btn" title="Добавление прайса" data-rel="lightcase" data-lc-options='{"maxWidth":700,"groupClass":"modal-edit modal-export-excel"}'>Добавить прайс</a>
		</div>
		<div class="v-body">
			<?php  if (!$totRows) { ?> <div class='v-line center nobefore'><div class='v-inline'>Нет ни одной выгрузки каталога из Excel</div></div> <?php  } ?>
<?php  } ?><!-- /FormPrefix -->

<!-- RecordTemplate --><?php /* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?php  if(!$param){ ?>
    <div class="v-line">
        <div class="v-inline v-line-name">
            <span><?=($f_RowNum+1).'.'?></span> <?=($f_name ? $f_name : get_namesub_link($f_parent))?> <span>: </span>
        </div>
        <div class="v-inline v-line-exa">
            <?=($f_excel ? "<a href='{$f_excel}'>{$f_excel_name}</a>": "файл не выбран")?>
        </div>
        <div class="v-line-param">
            <div class="v-first"></div>
            <div class="v-second">
                <a href="<?=$editLink?>?isNaked=1&panel=1" class="v-setting" title="Добавление прайса" data-rel="lightcase" data-lc-options='{"maxWidth":700,"groupClass":"modal-edit modal-export-excel"}'></a>
                <a title='Удалить прайс?<?=($f_excel ? "<br>{$f_excel_name}" : "")?>' data-rel='lightcase' data-lc-options='{"maxWidth":500,"showTitle":false}' data-confirm-success='{succes: 1,modal:"close",reloadtab:1}' data-confirm-href='<?=$dropLink?>' href='#сonfirm-actions' class='v-remove'></a>
                <?=$f_AdminButtons?>
            </div>
        </div>
    </div>
<?php  } ?>
<?php /* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?><!-- /RecordTemplate -->

<!-- FormSuffix --><?php  if(!$param){ ?>
      </div>
    </div>
<?php  } ?>


<?php  if($param=="1C"){ ?>
      <div class="view-body-inline export-1c">
          <div class="export-1c-line"><span>Примечание 1.</span> Для автоматической связи каталога с 1С 8 обратитесь к разработчику сайта.</div>
          <div class="export-1c-line"><span>Примечание 2.</span> Для ручного обновления цен требуется выгрузка данных в формате CommerceML2.</div>
      </div>
      <div class="view-body-inline">
          <div class="v-title"><div class='v-title-text'><b>Загрузка файлов.</b> Выберите подготовленные файлы:</div></div>
          <div class="v-body">
            <form enctype="multipart/form-data"  class="ajax2" method=post action='<?=$cc_env[Hidden_URL]?>?nc_ctpl=2042' class=ajax2>
              <div class='v-line'>
                <div class="v-inline v-name1c">Файл import.xml:</div>
                <label class="export-file">
                  <input type='file' name='xmlfile[]'>
                  <span class="add-btn">Выберите файл</span>
                  <span class="ex-file-text"><span class="ex-file-text1">Файл не выбран</span><span class="ex-file-text2 file-name-this"></span></span>
                </label>
              </div>
              <div class='v-line'>
                <div class="v-inline v-name1c">Файл offers.xml:</div>
                <label class="export-file">
                  <input type='file' name='xmlfile[]'>
                  <span class="add-btn">Выберите файл</span>
                  <span class="ex-file-text"><span class="ex-file-text1">Файл не выбран</span><span class="ex-file-text2 file-name-this"></span></span>
                </label>
              </div>

              <div class='result'></div>
              <div class="v-btn">
                <span class="bc-btn"><input type="submit" value="Закачать"></span>
              </div>
            </form>
          </div>
      </div>
      <div class="view-body-inline export-start-1c">
          <div class="v-title"><div class='v-title-text'><b>Запуск обновления каталога.</b></div></div>
          <div class="v-body">
              <div class='v-line v-nohover'>
                <div class="v-inline">Последняя загрузка: <b><?=($current_catalogue[file1Ctime] ? date('d.m.Y H:i:s', $current_catalogue[file1Ctime]) : "не выгружалось ни разу")?></b></div>
              </div>
            <iframe class='w0' height=400 frameborder='0' src='/export_1c.php'></iframe>
          </div>
      </div>
<?php  } ?><!-- /FormSuffix -->