@font-face {
  font-family: 'Sawarabi Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Sawarabi Gothic'), local('SawarabiGothic-Regular'), url(https://fonts.gstatic.com/s/sawarabigothic/v5/x3d4ckfVaqqa-BEj-I9mE65u3k39BiMw.woff) format('woff');
}
