<!-- FormPrefix --><?php 
// as a part of SuccessURL script

// your registration data
$mrh_pass1 = $setting['rkassaPass1'];  // merchant pass1 here

// HTTP parameters:
$out_summ = $_REQUEST["OutSum"];
$inv_id = $_REQUEST["InvId"];
$crc = $_REQUEST["SignatureValue"];

$crc = strtoupper($crc);  // force uppercase

// build own CRC
$my_crc = strtoupper(md5("$out_summ:$inv_id:$mrh_pass1"));

if (strtoupper($my_crc) != strtoupper($crc))
{
  if (!$admin_mode) {
      echo "bad sign\n";
      exit();
  }
}



// OK, payment proceeds
echo "Ваш заказ №{$inv_id} на сумму <b>$out_summ</b> руб. успешно оплачен.
<p>Менеджер свяжется с Вами для уточнения деталей заказа.</p>";
?><!-- /FormPrefix -->

<!-- RecordTemplate --><!-- /RecordTemplate -->

<!-- FormSuffix --><!-- /FormSuffix -->