<?php 
global $setting;

if (!$inside_admin) objsys($bc_objsys,$classID,$message);

clearCache($classID,$sub);

@require_once($INCLUDE_FOLDER."classes/nc_imagetransform.class.php");

if ($_FILES['f_logo'][size] != 0 ) {
  $photo_path = $DOCUMENT_ROOT.nc_file_path($classID, $message,'logo', "");
  $imsize = getimagesize($photo_path);
  $ww = 200;  $hh = 3000;
  if ($photo_path) {
    if ($ww<$imsize[0] || $hh<$imsize[1]) nc_ImageTransform::imgResize($photo_path,$photo_path,$ww,$hh, 0, 'jpg', 95, $message, 'logo');
  }
}


if($inside_admin) {
    ob_end_clean();
    header('Location: '.$goBackLink.'&inside_admin=1');
    exit;
} else { 
    echo json_encode(ARRAY(
        "title" => "ОК",
        "succes" =>  NETCAT_MODERATION_MSG_OBJADD,
        "reload" => 1,
        "modal" => "close"
    ));

}
?>