<!-- Header --><!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт на реконструкции</title>    
    <style>body { text-align: center; background: #f9f9f9; font-family: sans-serif; } .l1 { margin-top: 180px; } h2 { text-transform: uppercase; font-size: 34px; } p { font-size: 18px;}</style>
  </head>
  <body>
      <div class='l1'>
        <h2>Сайт в разработке до 07.07.2018</h2>
        <p>тел. 8 800 222 14 18, 8(495)792 43 47</p>
      </div>
  </body>
</html>
<!-- /Header -->

<!-- Footer --><!-- /Footer -->