<?php /* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?php /* Служебная часть */
for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {
    if($fetch_row[$f_RowNum] instanceof Iterator) {
        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");
    } else {
        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");
    }
    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {
        extract($value);
    }
    eval($cc_env["convert2txt"]);
    ob_start();
/* Конец служебной части */?>
<?php 
    if ($isIncludeRecordCustom) {
        include $recordCustomPath;
    } else {
?>
    <?php
        $fields = array(
            "sub" => $sub,
            "cc" => $cc,
            "classID" => $classID,
            "nc_ctpl" => $nc_ctpl,
            "fullLink" => $fullLink,
            "editLink" => $editLink,
            "image_default" => $image_default,
            "fastprew" => $fastprew,
            "current_sub" => $current_sub,
            "current_cc" => $current_cc,
            "current_catalogue" => $current_catalogue,
            "RowID" => $f_RowID,
            "RowNum" => $f_RowNum,
            "animateKey" => $animateKey,
            "animateDelay" => $animateDelay,
            "animateDelayStep" => $animateDelayStep,
            "totRows" => $totRows,
            "RowNum" => $f_RowNum,
            "animateKey" => $animateKey,
            "animateDelay" => $animateDelay,
            "animateDelayStep" => $animateDelayStep,
            "Checked" => $f_Checked,
            "name" => $f_name,
            "text" => $f_text,
            "textfull" => $f_textfull,
            "textfull_bottom" => $f_textfull_bottom,
            "photo_preview" => $f_photo_preview,
            "photo" => $f_photo,
            "price" => $f_price,
            "firstprice" => $f_firstprice,
            "link" => $f_link,
            "vendor" => $f_citytarget,
            "adminButtons" => $f_adminButtonsl,
        );
        $class2021 = new Class2021($fields);
        echo $class2021->getItem();
    ?>
<?php } ?>
<?php /* Служебная часть */
    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);
}
/* Конец служебной части */?>


<?php /* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>