<object width='<?=$f_width; ?>' height='<?=$f_height; ?>'>
  <param name='movie' value='http://video.bigmir.net/extplayer/<?=$code; ?>/'></param>
  <param name='wmode' value='transparent'></param>
  <param name='flashvars' value=''></param>
  <param name='allowScriptAccess' value='always'></param>
  <param name='allowFullScreen' value='true'></param>
  <embed src='http://video.bigmir.net/extplayer/<?=$code; ?>/' type='application/x-shockwave-flash' wmode='transparent' allowScriptAccess='always' allowFullScreen='true' width='<?=$f_width; ?>' height='<?=$f_height; ?>' flashvars=''></embed>
</object>