@font-face {
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 400;
  src: local('Pangolin Regular'), local('Pangolin-Regular'), url(https://fonts.gstatic.com/s/pangolin/v4/cY9GfjGcW0FPpi-tWMfJ79o.woff) format('woff');
}
