<?php /* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?php /* Служебная часть */
for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {
    if($fetch_row[$f_RowNum] instanceof Iterator) {
        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");
    } else {
        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");
    }
    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {
        extract($value);
    }
    eval($cc_env["convert2txt"]);
    ob_start();
/* Конец служебной части */?>

<?php /* Служебная часть */
for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {
    if($fetch_row[$f_RowNum] instanceof Iterator) {
        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");
    } else {
        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");
    }
    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {
        extract($value);
    }
    eval($cc_env["convert2txt"]);
    ob_start();
/* Конец служебной части */?>

<?php  if (!$isTitle && $bitcat) {?>
    <?php
        # товар
        $item = $f_itemID ? Class2001::getItemById($f_itemID) : "";
        $itemLink = $item ? "<a href='//{$_SERVER['HTTP_HOST']}/{$item->fullLink}' target='_blank'>{$item->name}</a><br>" : "";
        $dbPhone = $f_Subject ?: $f_phone;
        $phone = ($dbPhone || $f_nameform ? 
            (stristr($current_user[Login],"admin") ? 
                $f_nameform.($f_nameform && $dbPhone ? "<br>" : "").$dbPhone 
                : "контакт скрыт") 
            : "-");
    ?>
    <tr data-orderid="<?=$f_RowID?>">
        <td class="t-num">
            <a href="<?=$editLink?>?isNaked=1" data-lc-options='{"maxWidth":950,"maxHeight":1100,"groupClass":"modal-admin-mail"}' title="Письмо с сайта #<?=$f_RowID?>" data-rel="lightcase">#<?=$f_RowID?></a>
        </td>
        <td class="t-date"><?="$f_Created_day.$f_Created_month.$f_Created_year"?><br><?="$f_Created_hours:$f_Created_minutes"?></td>
        <td class="t-client">
            <div class="t-first"><?=$f_Name?></div>
            <div class="t-second t-link">
                <a href="<?=$editLink?>?isNaked=1" data-lc-options='{"maxWidth":950,"maxHeight":1100,"groupClass":"modal-admin-mail modal-edit"}' title="Письмо с сайта #<?=$f_RowID?>" data-rel="lightcase">Редактировать</a>
            </div>
        </td>
        <td class="t-email center"><?=($f_Email ? (stristr($current_user[Login],"admin") ? $f_Email : "контакт скрыт") : "-")?></td>
        <td class="t-phone center"><?=$phone?></td>
        <td class="t-text"><?=$itemLink?><?=substr($f_mailtext, 0, 200)?> <?=(strlen($f_mailtext) > 200 ? ".." : "")?></td>
        <td class="t-text"><?=($f_page ? "<a target='_blank' href='".$f_page."'>перейти</a>" : "-")?></td>
    </tr>
<?php }?>

<?php /* Служебная часть */
    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);
}
/* Конец служебной части */?>


<?php /* Служебная часть */
    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);
}
/* Конец служебной части */?>
<?php /* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>