<?php

/** @var string $selector */
/** @var string $list_selector */
/** @var array $settings */

$padding = ($settings['space_between'] / 2) . "px";
$arrows_position = $settings['arrows_position'];

if($arrows_position=='in') {
    $next_position = "right:0px;";
    $prev_position = "left:0px;";
}
return <<<CSS
:not(.slick-slider)$list_selector > *:not(:first-child) {
    display: none;
}
$list_selector .slick-next {
    $next_position;
}
$list_selector .slick-prev {
    $prev_position;
}
$list_selector .slick-slide {
    padding: $padding;
}
CSS;