@font-face {
  font-family: 'Pattaya';
  font-style: normal;
  font-weight: 400;
  src: local('Pattaya'), local('Pattaya-Regular'), url(https://fonts.gstatic.com/s/pattaya/v4/ea8ZadcqV_zkHY-XBdOt8A.woff) format('woff');
}
