<font color='gray'>Количество комментариев:</font><br />
<select name='f_comment_limit'>
<option value='5' <?=('5' == $f_comment_limit ? "selected='selected'" : ""); ?>>5</option>
<option value='10' <?=('10' == $f_comment_limit ? "selected='selected'" : ""); ?>>10</option>
<option value='15' <?=('15' == $f_comment_limit ? "selected='selected'" : ""); ?>>15</option>
<option value='20' <?=('20' == $f_comment_limit ? "selected='selected'" : ""); ?>>20</option>
</select><br /><br /><font color='gray'>Ширина:</font><br />
<input name='f_width' size='50' value='<?=$f_width; ?>' /><br /><br />
<input name='f_media_graffiti' value='0' type='hidden' />
<input name='f_media_graffiti' id='f_media_graffiti' value='1' type='checkbox' <?=(1 == $f_media_graffiti ? "checked='checked'" : ""); ?> />
<label for='f_media_graffiti'><font color='gray'>медиа граффити</font><br />
</label><br />
<input name='f_media_photo' value='0' type='hidden' />
<input name='f_media_photo' id='f_media_photo' value='1' type='checkbox' <?=(1 == $f_media_photo ? "checked='checked'" : ""); ?> />
<label for='f_media_photo'><font color='gray'>медиа фотографии</font><br />
</label><br />
<input name='f_media_video' value='0' type='hidden' />
<input name='f_media_video' id='f_media_video' value='1' type='checkbox' <?=(1 == $f_media_video ? "checked='checked'" : ""); ?> />
<label for='f_media_video'><font color='gray'>медиа видео</font><br />
</label><br />
<input name='f_media_audio' value='0' type='hidden' />
<input name='f_media_audio' id='f_media_audio' value='1' type='checkbox' <?=(1 == $f_media_audio ? "checked='checked'" : ""); ?> />
<label for='f_media_audio'><font color='gray'>медиа аудио</font><br />
</label><br />
<input name='f_media_link' value='0' type='hidden' />
<input name='f_media_link' id='f_media_link' value='1' type='checkbox' <?=(1 == $f_media_link ? "checked='checked'" : ""); ?> />
<label for='f_media_link'><font color='gray'>медиа ссылки</font><br />
</label><br />
<font color='gray'>API ID:</font><br />
<input name='f_api_id' size='50' value='<?=$f_api_id; ?>' /><br /><br />