<!DOCTYPE html>
<html>
<head>
	<title>Демонстрация сайта</title>
	<link rel="stylesheet" href="/css/style.css?v=<?=filectime($DOCUMENT_ROOT.$SUB_FOLDER.'/css/style.css')?>">
    <link rel='Stylesheet' type='text/css' href='/js/sites-demonstration/sites-demo.css?v=<?=filectime($DOCUMENT_ROOT.$SUB_FOLDER.'/js/sites-demonstration/sites-demo.css')?>'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type='text/javascript' src='/js/sites-demonstration/sites-demo.js?v=<?=filectime($DOCUMENT_ROOT.$SUB_FOLDER.'/js/sites-demonstration/sites-demo.js')?>'></script>
</head>
<body id='demo-sites'>
</body>
</html>