.object-item {
    /*padding-bottom: 2rem;*/
    text-decoration: none;
    color: var(--tpl-color-foreground-main);
}

.tpl-color-brand {
    color: var(--tpl-color-brand);
}

.object-item-title {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.object-full .full-image,
.object-item .item-image {
    /*margin-bottom: .5rem;*/
    position: relative;
}

.object-full .full-image {
    margin-bottom: 1rem;
}

.object-full .full-image::before,
.object-item .item-image::before {
    display: block; /* отображать элемент как блок */
    content: ""; /* содержимое псевдоэлемента */
    width: 100%; /* ширина элемента */
}

.size-16by9::before {
    padding-top: 56.25%; /* (9:16)*100% */
}

.size-1-62by1::before {
    padding-top: 61.72%; /* (1:1.62)*100% */
}

.size-3by2::before {
    padding-top: 66.66%; /* (2:3)*100% */
}

.size-4by3::before {
    padding-top: 75%; /* (3:4)*100% */
    /*padding-top: calc( (33.333% - 20px) * (3/4) ); !* (9:16)*100% *!*/
}

.size-1by1::before {
    padding-top: 100%; /* (1:2)*100% */
}

.size-::before {
    padding-top: 66.66%; /* (2:3)*100% */
}

.object-full .full-image .image,
.object-item .item-image .image {
    position: absolute; /* абсолютное положение элемент */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.object-full .full-image,
.object-item .item-image * {
    width: 100%;
    height: 100%;
}

.object-full .full-image .image img,
.object-item .item-image .image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}