&{min-height: 60px;}
.object-item {
    /*font-family: var(--tpl-font-family-common);*/
    padding-bottom: 2rem;
}

.object-item a {
    display: block;
}

.object-item .item-image {
    /*max-height: 200px;*/
    overflow: hidden;
    position: relative;
}

.object-item .item-image .image * {
    width: 100%;
    height:100%;
}

.object-item .item-image:before {
    display: block; /* отображать элемент как блок */
    content: ""; /* содержимое псевдоэлемента */
    width: 100%; /* ширина элемента */
    padding-top: 61.72%;
}

.object-item .item-image .image {
    position: absolute; /* абсолютное положение элемент */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.object-item .item-image .image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.object-item .item-category {
    padding-top: .5rem;
    color: var(--tpl-color-foreground-accent-dark);
    text-transform: uppercase;
    /*font-size: 0.8rem;*/
}

.object-item .item-name {
    font-weight: 600;
    /*font-size:1.2rem;*/
}

.object-item .item-period {
    font-weight: 400;
    /*font-size:0.9rem;*/
}

.object-item .item-period [class^='fa'] {
    color: var(--tpl-color-brand-dark);
}

.object-item .item-announce {
    color: var(--tpl-color-foreground-accent-dark);
    /*font-size: 0.8rem;*/
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.object-item-full {
    max-width: 1000px;
}

.object-item-full .item-category {
    padding-top: .5rem;
    color: var(--tpl-color-foreground-accent-dark);
    text-transform: uppercase;
    /*font-size: 0.9rem;*/
}

.object-item-full .item-period {
    font-weight: 400;
    /*font-size:0.9rem;*/
}

.object-item-full .item-period [class^='fa'] {
    color: var(--tpl-color-brand-dark);
}

.object-item-full .item-name {
    font-weight: 600;
    display: inline-block;
}

.object-item-full .item-price {
    font-weight: 600;
    display: inline-block;
    color: var(--tpl-color-brand-dark);
}

.object-item-full .item-image img {
    max-width: 100%;
    padding: 1rem 0;
}

.object-item-full .item-text {
    padding-bottom: 1rem;
}

.object-item-full .item-info {
    display: flex;
}

.object-item-full .item-info[max-width='500px'] {
    flex-direction: column;
}

.object-item-full .item-info[min-width='500px'] .item-form {
    min-width: 300px;
    padding-left: 2rem;
}

.object-item-full .item-info[max-width='500px'] .item-form {
    padding-left: 0;
}

.object-item-full .item-slider {
    display: flex;
    align-items: flex-start;
    padding: 1rem 0;
}

.object-item-full .item-slider[max-width~="500px"] {
    flex-direction: column;
}

.object-item-full .item-slider .slider-big-image {
    width: 100%;
    padding-bottom: 7px;
}

.object-item-full .item-slider .slider-big-image img {
    max-width: 100%;
    width: 100%;
}

.object-item-full .item-slider .slider-preview-list {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.object-item-full .item-slider[min-width~="500px"] .slider-big-image {
    padding-right: 1rem;
}

.object-item-full .item-slider[min-width~="500px"] .slider-preview-list {
    flex-direction: row;
    min-width: 280px;
    width: auto;
    max-width: 320px;
}

.object-item-full .item-slider .slider-preview-list a {
    display: inline-block;
    width: 50%;
    padding-bottom: 6px;
}

.object-item-full .item-slider .slider-preview-list a:nth-child(2n+1) {
    padding-right: 3px;
}

.object-item-full .item-slider .slider-preview-list a:nth-child(2n) {
    padding-left: 3px;
}

.object-item-full .item-slider .slider-preview-list a img {
    max-width: 100%;
}

.object-item-full .item-slider .slider-preview-list a.active {
    position: relative;
}

.object-item-full .item-slider .slider-preview-list a.active:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 5px solid var(--tpl-color-brand);
}