<!-- FormPrefix --><!-- /FormPrefix -->

<!-- RecordTemplate --><?php /* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<?php /* Служебная часть */
for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {
    if($fetch_row[$f_RowNum] instanceof Iterator) {
        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");
    } else {
        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");
    }
    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {
        extract($value);
    }
    eval($cc_env["convert2txt"]);
    ob_start();
/* Конец служебной части */?>

<?php 
unset($day); unset($otvetAut); unset($userAut);
if (date("dmY") == $f_Created_day.$f_Created_month.$f_Created_year) $day = getLangWord('today',"Сегодня"); else $day = $f_Created_day." ".month($f_Created_month);
if (date("dmY") == $f_LastUpdated_day.$f_LastUpdated_month.$f_LastUpdated_year) $dayO = getLangWord('today',"Сегодня"); else $dayO = $f_Created_day." ".month($f_Created_month);

if ($f_Checked) { $totRate = $totRate+$f_rate; $totCount++; }

if ($f_otvet) {
	$otvetAut = getUser($f_LastUser_ID);
}
if ($f_UserID>0) $userAut = getUser($f_UserID);
$userAut = ($f_UserID>0 && $userAut[name] && $userAut[fam] ? $userAut[name]." ".$userAut[fam] : $f_name);
# зачем брать имя админка, если мы указываем имя у отзыва????????
$userAut = $f_name;
$otzyvy .= "
<div class='kz_otz_item obj ".(!$f_Checked ? "uncheck" : NULL)." obj".$f_RowID."'>
	<div class='kz_otz_top'>
		<div class='kz_otz_name'>$userAut</div>
		<div class='kz_otz_time'>$day</div>
	</div>
	<div class='kz_otz_text'>$f_otzyvtext</div>
	".($f_otvet ? "
		<div class='kz_otz_otvet'>
			<div class='kz_otz_top'>
				<div class='kz_otz_name'>{$otvetAut['name']} {$otvetAut['fam']}</div>
				<div class='kz_otz_otime'>$dayO</div>
			</div>
			<div class='kz_otz_text'>$f_otvet</div>
		</div>
	" : NULL)."
	".($bitcat ? editObjBut($editLink) : NULL)."
</div>";
?>

<?php /* Служебная часть */
    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);
}
/* Конец служебной части */?>
<?php /* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?><!-- /RecordTemplate -->

<!-- FormSuffix --><?php 
$stars = round05($totRate/$totCount,1);
$starsClass = str_replace(".","_",$stars);
?>
<div class="kz_otzyvy">
	<div class="kz_raiting <?=(!$totRows ? "norate" : NULL)?>">
        <?=(!$totRows ? "<div class='kz_nootz'>".getLangWord('comment_first','Здесь еще никто не оставлял отзывы. Вы можете быть первым')."</div>" : NULL)?>
		<div class="kz_napisat"><a href="" data-scrollto='.kz_form'><?=getLangWord('comment_write_btn_scroll','Написать отзыв')?></a></div>
	</div>
	<?=$otzyvy?>
</div>
<div class='kz_form' data-load='/index/otzyvtovar/add_otzyvtovar.html&f_tovar=<?=$tovar?>'></div><!-- /FormSuffix -->