<object width='<?=$f_width; ?>' height='<?=$f_height; ?>'>
  <param name='movie' value='http://i.online.ua/mplayer/player_logo.swf?file=http://video.online.ua/playlist/<?=$code; ?>.xml&amp;autoStart=false&amp;str_lang=rus&amp;xmldatasource=http://video.online.ua/playlist/<?=$code; ?>.xml'></param>
  <param name='allowFullScreen' value='true'></param>
  <param name='allowscriptaccess' value='always'>
  <embed src='http://i.online.ua/mplayer/player_logo.swf?width=640&amp;height=400&amp;file=http://video.online.ua/playlist/<?=$code; ?>.xml&amp;autostart=false&amp;javascriptid=media_player&amp;enablejs=true' type='application/x-shockwave-flash' allowscriptaccess='always' allowfullscreen='true' width='<?=$f_width; ?>' height='<?=$f_height; ?>'></embed>
</object>