<font color='gray'>Домен:</font><br />
<input name='f_url' size='50' value='' /><br /><br />
<input name='f_header' value='0' type='hidden' />
<input name='f_header' id='f_header' value='1' type='checkbox'  />
<label for='f_header'>
<font color='gray'>показывать заголовок</font><br />
</label><br />
<font color='gray'>Цветовая схема:</font><br />
<select name='f_colorscheme'>
<option value='light'>светлая</option>
<option value='dark'>тёмная</option>
</select><br /><br /><font color='gray'>Шрифт:</font><br />
<select name='f_font'>
<option value='' selected='selected'></option>
<option value='arial'>arial</option>
<option value='lucida+grande'>lucida grande</option>
<option value='segoe+ui'>segoe ui</option>
<option value='tahoma'>tahoma</option>
<option value='trebuchet+ms'>trebuchet ms</option>
<option value='verdana'>verdana</option>
</select><br /><br /><font color='gray'>Цвет границы (HEX):</font><br />
<input name='f_border_color' size='50' value='' /><br /><br />
<input name='f_recommendations' value='0' type='hidden' />
<input name='f_recommendations' id='f_recommendations' value='1' type='checkbox'  />
<label for='f_recommendations'>
<font color='gray'>показывать рекомендации</font><br />
</label><br />
<font color='gray'>Ширина:</font><br />
<input name='f_width' size='50' value='' /><br /><br />
<font color='gray'>Высота:</font><br />
<input name='f_height' size='50' value='' /><br /><br />