<font color='gray'>Номер счета:</font><br />
<input name='f_account' size='50' value='' /><br /><br />
<font color='gray'>Текст:</font><br />
<input name='f_text' size='50' value='' /><br /><br />
<font color='gray'>Цвет:</font><br />
<select name='f_color'>
<option value='default'>по умолчанию</option>
<option value='aqua'>голубой</option>
<option value='blue'>синий</option>
<option value='green'>зелёный</option>
<option value='orange'>оранжевый</option>
<option value='pink'>розовый</option>
<option value='purple'>фиолетовый</option>
<option value='red'>красный</option>
<option value='yellow'>жёлтый</option>
</select><br /><br /><font color='gray'>Тип:</font><br />
<select name='f_type'>
<option value='0'>дай рубль</option>
<option value='1'>дай три</option>
<option value='2'>дай пять</option>
<option value='3'>дай рубль (свинья копилка)</option>
<option value='4'>дай пять (рука)</option>
</select><br /><br />