<?php 
if($cids[0]== 533) {
  echo '<a href="http://clck.yandex.ru/redir/dtype=stred/pid=30/cid='.$cids[0].'/*http://maps.yandex.ru/moscow_traffic" style="background-image:url(http://clck.yandex.ru/click/dtype=stred/pid=30/cid='.$cids[1].'/*http://ya.ru)"><img src="http://info.maps.yandex.net/traffic/moscow/current_traffic_'.$f_width.'.gif" alt="Пробки на Яндекс.Картах" border="0"/></a>';
}
else {
  echo '<a href="http://clck.yandex.ru/redir/dtype=stred/pid=30/cid='.$cids[0].'/*http://maps.yandex.ru/moscow_traffic" style="background-image:url(http://clck.yandex.ru/click/dtype=stred/pid=30/cid='.$cids[1].'/*http://ya.ru)"><img src="http://info.maps.yandex.net/traffic/moscow/tends_'.$f_width.'.png" alt="Пробки на Яндекс.Картах" border="0"/></a>';
}