<font color='gray'>Ссылка:</font><br />
<input name='f_url' size='50' value='' /><br /><br />
<font color='gray'>Макет:</font><br />
<select name='f_layout'>
<option value='standard'>стандартный</option>
<option value='button_count'>button счётчик</option>
<option value='box_count'>box счётчик</option>
</select><br /><br /><font color='gray'>Отображение кнопки:</font><br />
<select name='f_action'>
<option value='like'>нравится</option>
<option value='recommend'>рекомендую</option>
</select><br /><br /><font color='gray'>Шрифт:</font><br />
<select name='f_font'>
<option value='' selected='selected'></option>
<option value='arial'>arial</option>
<option value='lucida+grande'>lucida grande</option>
<option value='segoe+ui'>segoe ui</option>
<option value='tahoma'>tahoma</option>
<option value='trebuchet+ms'>trebuchet ms</option>
<option value='verdana'>verdana</option>
</select><br /><br /><font color='gray'>Цветовая схема:</font><br />
<select name='f_colorscheme'>
<option value='light'>светлая</option>
<option value='dark'>тёмная</option>
</select><br /><br /><input name='f_faces' value='0' type='hidden' />
<input name='f_faces' id='f_faces' value='1' type='checkbox'  />
<label for='f_faces'><font color='gray'>показывать лица</font><br />
</label><br />
<font color='gray'>Ширина:</font><br />
<input name='f_width' size='50' value='' /><br /><br />