<?php

// if(!$f_name) $f_name = is_array($inputs) ? $inputs[name] : "";
// $f_inputs = is_array($inputs) ? json_encode($inputs) : "{}";

// $f_mo = is_array($mo) ? json_encode($mo,JSON_FORCE_OBJECT) : "{}";
// $f_campname = is_array($campname) ? json_encode($campname,JSON_FORCE_OBJECT) : "{}";
// $f_shift = is_array($shift) ? json_encode($shift,JSON_FORCE_OBJECT) : "{}";
// $f_date = is_array($date) ? json_encode($date,JSON_FORCE_OBJECT) : "{}";


// $f_citytarget = ",".implode(",",$f_citytarget).",";
// if ($f_citytarget==',,') $f_citytarget='';

// if(stristr($f_text, '<body') || stristr($f_text, '</body')){
//     $f_text = preg_replace("/<body[^>]+\>/g", "", $f_text);
//     $f_text = preg_replace("/<[\/]+body>/g", "", $f_text);
// }

// $f_lang = json_encode($f_lang);

$f_Catalogue_ID = $catalogue;
?>