<object width='<?=$f_width; ?>' height='<?=$f_height; ?>' id='veohFlashPlayer' name='veohFlashPlayer'>
  <param name='movie' value='http://www.veoh.com/static/swf/webplayer/WebPlayer.swf?version=AFrontend.5.5.4.1041&permalinkId=<?=$code; ?>&player=videodetailsembedded&videoAutoPlay=0&id=anonymous'></param>
  <param name='allowFullScreen' value='true'></param>
  <param name='allowscriptaccess' value='always'></param>
  <embed src='http://www.veoh.com/static/swf/webplayer/WebPlayer.swf?version=AFrontend.5.5.4.1041&permalinkId=".$code."&player=videodetailsembedded&videoAutoPlay=0&id=anonymous' type='application/x-shockwave-flash' allowscriptaccess='always' allowfullscreen='true' width='<?=$f_width; ?>' height='<?=$f_height; ?>' id='veohFlashPlayerEmbed' name='veohFlashPlayerEmbed'></embed>
</object>