<font color='gray'>Имя пользователя:</font><br />
<input name='f_username' size='50' value='' /><br /><br />
<input name='f_live' value='0' type='hidden' />
<input name='f_live' id='f_live' value='1' type='checkbox'  />
<label for='f_live'><font color='gray'>голосование для новых результатов</font><br />
</label><br />
<input name='f_scrollbar' value='0' type='hidden' />
<input name='f_scrollbar' id='f_scrollbar' value='1' type='checkbox'  />
<label for='f_scrollbar'><font color='gray'>включить прокрутку</font><br />
</label><br />
<font color='gray'>Количество твитов:</font><br />
<input name='f_rpp' size='50' value='' /><br /><br />
<input name='f_avatars' value='0' type='hidden' />
<input name='f_avatars' id='f_avatars' value='1' type='checkbox'  />
<label for='f_avatars'><font color='gray'>показывать аватары</font><br />
</label><br />
<input name='f_timestamp' value='0' type='hidden' />
<input name='f_timestamp' id='f_timestamp' value='1' type='checkbox'  />
<label for='f_timestamp'><font color='gray'>показывать дату</font><br />
</label><br />
<input name='f_hashtags' value='0' type='hidden' />
<input name='f_hashtags' id='f_hashtags' value='1' type='checkbox'  />
<label for='f_hashtags'><font color='gray'>показывать #теги</font><br />
</label><br />
<font color='gray'>Цвет фона оболочки (#RRGGBB):</font><br />
<input name='f_shell_background' size='50' value='' /><br /><br />
<font color='gray'>Цвет текста оболочки (#RRGGBB):</font><br />
<input name='f_shell_textcolor' size='50' value='' /><br /><br />
<font color='gray'>Цвет фона твита (#RRGGBB):</font><br />
<input name='f_tweet_background' size='50' value='' /><br /><br />
<font color='gray'>Цвет текста твита (#RRGGBB):</font><br />
<input name='f_tweet_textcolor' size='50' value='' /><br /><br />
<font color='gray'>Цвет ссылок (#RRGGBB):</font><br />
<input name='f_linkscolor' size='50' value='' /><br /><br />
<font color='gray'>Ширина:</font><br />
<input name='f_width' size='50' value='' /><br /><br />
<font color='gray'>Высота:</font><br />
<input name='f_height' size='50' value='' /><br /><br />
<input name='f_autowidth' value='0' type='hidden' />
<input name='f_autowidth' id='f_autowidth' value='1' type='checkbox'  />
<label for='f_autowidth'><font color='gray'>автоматическая ширина</font><br />
</label><br />