@font-face {
  font-family: 'Kosugi';
  font-style: normal;
  font-weight: 400;
  src: local('Kosugi Regular'), local('Kosugi-Regular'), url(https://fonts.gstatic.com/s/kosugi/v3/pxiFyp4_v8FCjlIIN7D9.woff) format('woff');
}
