<font color='gray'>Логин:</font><br />
<input name='f_login' size='50' value='' /><br /><br />
<font color='gray'>Альтернативный текст кнопки:</font><br />
<input name='f_alt' size='50' value='' /><br /><br />
<font color='gray'>Картинка:</font><br />
<select name='f_img'>
<option value='follow_me-a.png'>FOLLOW ME (синий)</option>
<option value='follow_me-b.png'>FOLLOW ME (серый)</option>
<option value='follow_me-c.png'>FOLLOW ME (чёрный)</option>
<option value='twitter-a.png'>twitter (синий)</option>
<option value='twitter-b.png'>twitter (серый)</option>
<option value='twitter-c.png'>twitter (чёрный)</option>
<option value='t_logo-a.png'>logo (синий)</option>
<option value='t_logo-b.png'>logo (серый)</option>
<option value='t_logo-c.png'>logo (чёрный)</option>
<option value='t_small-a.png'>logo маленький (синий)</option>
<option value='t_small-b.png'>logo маленький (серый)</option>
<option value='t_small-c.png'>logo маленький (чёрный)</option>
<option value='t_mini-a.png'>logo миниатюрный (синий)</option>
<option value='t_mini-b.png'>logo миниатюрный (серый)</option>
<option value='t_mini-c.png'>logo миниатюрный (чёрный)</option>
</select><br /><br />