<font color='gray'>Логин:</font><br />
<input name='f_login' size='50' value='<?=$f_login; ?>' /><br /><br />
<font color='gray'>Альтернативный текст кнопки:</font><br />
<input name='f_alt' size='50' value='<?=$f_alt; ?>' /><br /><br />
<font color='gray'>Картинка:</font><br />
<select name='f_img'>
<option value='follow_me-a.png' <?=('follow_me-a.png' == $f_img ? "selected='selected'" : ""); ?>>FOLLOW ME (синий)</option>
<option value='follow_me-b.png' <?=('follow_me-b.png' == $f_img ? "selected='selected'" : ""); ?>>FOLLOW ME (серый)</option>
<option value='follow_me-c.png' <?=('follow_me-c.png' == $f_img ? "selected='selected'" : ""); ?>>FOLLOW ME (чёрный)</option>
<option value='twitter-a.png' <?=('twitter-a.png' == $f_img ? "selected='selected'" : ""); ?>>twitter (синий)</option>
<option value='twitter-b.png' <?=('twitter-b.png' == $f_img ? "selected='selected'" : ""); ?>>twitter (серый)</option>
<option value='twitter-c.png' <?=('twitter-c.png' == $f_img ? "selected='selected'" : ""); ?>>twitter (чёрный)</option>
<option value='t_logo-a.png' <?=('t_logo-a.png' == $f_img ? "selected='selected'" : ""); ?>>logo (синий)</option>
<option value='t_logo-b.png' <?=('t_logo-b.png' == $f_img ? "selected='selected'" : ""); ?>>logo (серый)</option>
<option value='t_logo-c.png' <?=('t_logo-c.png' == $f_img ? "selected='selected'" : ""); ?>>logo (чёрный)</option>
<option value='t_small-a.png' <?=('t_small-a.png' == $f_img ? "selected='selected'" : ""); ?>>logo маленький (синий)</option>
<option value='t_small-b.png' <?=('t_small-b.png' == $f_img ? "selected='selected'" : ""); ?>>logo маленький (серый)</option>
<option value='t_small-c.png' <?=('t_small-c.png' == $f_img ? "selected='selected'" : ""); ?>>logo маленький (чёрный)</option>
<option value='t_mini-a.png' <?=('t_mini-a.png' == $f_img ? "selected='selected'" : ""); ?>>logo миниатюрный (синий)</option>
<option value='t_mini-b.png' <?=('t_mini-b.png' == $f_img ? "selected='selected'" : ""); ?>>logo миниатюрный (серый)</option>
<option value='t_mini-c.png' <?=('t_mini-c.png' == $f_img ? "selected='selected'" : ""); ?>>logo миниатюрный (чёрный)</option>
</select><br /><br />