<div class="txt">
 
        <table border="0" cellpadding="1" cellspacing="1" class="noborder" style="width: 100%;">
	<tbody>
		<tr>
			<td style="background-color: rgb(226, 219, 213);">
			<p><span style="color: rgb(105, 105, 105);"><span style="font-family: tahoma, geneva, sans-serif;">Набережные Челны</span></span></p>

			<p><span style="font-size: 20px;"><span style="font-family: tahoma, geneva, sans-serif;">8 (8552) 474-339</span></span></p>
			</td>
			<td style="background-color: rgb(226, 219, 213);">
			<p><span style="color: rgb(105, 105, 105);"><span style="font-family: tahoma, geneva, sans-serif;">Звонок по России бесплатный</span></span></p>

			<p><span style="font-family: tahoma, geneva, sans-serif;"><span style="font-size: 20px;"><span style="text-align: right;">8 (800) 775-40-58</span></span></span></p>
			</td>
			<td style="vertical-align: middle; text-align: right; background-color: rgb(226, 219, 213);"><a class="zakazsite dotted" data-okno="createsite" href="#" rel="pop"><img alt="" src="/files/userfiles/1/ZAKAZAT-SAYT2.png" style="opacity: 0.9; width: 212px; height: 43px;"></a></td>
		</tr>
	</tbody>
</table>     

</div>