@font-face {
  font-family: 'Prosto One';
  font-style: normal;
  font-weight: 400;
  src: local('Prosto One'), local('ProstoOne-Regular'), url(https://fonts.gstatic.com/s/prostoone/v7/OpNJno4VhNfK-RgpwWWxlilVXQ.woff) format('woff');
}
