ID контейнера div с картой:<br />
<input name='f_container_id' size='50' value='' /><br /><br />

Ширина контейнера:<br />
<input name='f_container_width' size='50' value='' /><br /><br />

Высота контейнера:<br />
<input name='f_container_height' size='50' value='' /><br /><br />

Х координата центра карты (*):<br />
<input name='f_map_center_x' size='50' value='' /><br /><br />

У координата центра карты (*):<br />
<input name='f_map_center_y' size='50' value='' /><br /><br />

Масштаб карты (*):<br />
<input name='f_map_zoom' size='50' value='14' /><br /><br />

<div>
    <div>Показывать панели:</div>
    <div>Масштабирование <input type="checkbox" name='f_use_zoom_control' size='50' value='1' /></div>
    <div>Инструменты <input type="checkbox" name='f_use_map_tools' size='50' value='1' /></div>
    <div>Режим карты <input type="checkbox" name='f_use_type_selector' size='50' value='1' /></div>
</div>