<font color='gray'>ID контейнера div с картой:</font><br />
<input name='f_container_id' size='50' value='' /><br /><br />
<font color='gray'>Ширина контейнера:</font><br />
<input name='f_container_width' size='50' value='' /><br /><br />
<font color='gray'>Ширина высота:</font><br />
<input name='f_container_height' size='50' value='' /><br /><br />
<font color='gray'>Х координата центра карты (*):</font><br />
<input name='f_map_center_x' size='50' value='' /><br /><br />
<font color='gray'>У координата центра карты (*):</font><br />
<input name='f_map_center_y' size='50' value='' /><br /><br />
<font color='gray'>Масштаб карты (*):</font><br />
<input name='f_map_zoom' size='50' value='14' /><br /><br />

<div>
    <div>Показывать панели:</div>
    <div><font color='gray'>Масштабирование</font> <input type="checkbox" name='f_use_zoom_control' size='50' value='1' /></div>
    <div><font color='gray'>Инструменты</font> <input type="checkbox" name='f_use_map_tools' size='50' value='1' /></div>
    <div><font color='gray'>Режим карты</font> <input type="checkbox" name='f_use_type_selector' size='50' value='1' /></div>
</div>