<!-- FormPrefix --><?= $f_AdminCommon; ?><!-- /FormPrefix -->

<!-- RecordTemplate --><div class='object-item tpl-text-default'>
    <?= $f_AdminButtons; ?>
    <a href='<?= $fullLink; ?>' class='item name-position-<?= $cc_settings['NamePosition']; ?>'>
        <div class="item-image">
            <?php  if ($f_Image) { ?>
                <div class="image"><?= $f_Image->resize(1320, 880, nc_ImageTransform::RESIZE_TO_BEST_FIT)->as_img(); ?></div>
            <?php  } ?>
        </div>
        <?php if($admin_mode || $f_Name): ?><div class='item-name tpl-text-header3'><?= nc_edit_inline('Name', $f_RowID, $cc_env['Sub_Class_ID']); ?></div><?php endif; ?>
    </a>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --><?php if ($totRows > $recNum): ?>
  <?= nc_browse_messages($cc_env, 10); ?>
<?php endif; ?><!-- /FormSuffix -->