<?php
GLOBAL $setting;

# настройки
if (!$setting) $setting = $db->get_row("select *, SUBSTRING_INDEX(createrLogo, ':', -1) as createrLogo,  SUBSTRING_INDEX(bg, ':', -1) as bg, SUBSTRING_INDEX(logo, ':', -1) as logo from Message2000 order by Created limit 0,1", ARRAY_A);
if (!$setting) {
    $errorText = "Настройки не найдены";
}

$browse_msg['prefix'] = "";
$browse_msg['suffix'] = "";
$browse_msg['active'] = "<b>%PAGE</b>";
$browse_msg['unactive'] = "<a href=%URL>%PAGE</a>";
$browse_msg['divider'] = " | ";
?>