<!-- Header --><!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional\">
<html>
<head>
  <meta http-equiv='content-type' content='text/html; charset=<?=$nc_core->NC_CHARSET?>' />
  <title>Редактирование объектов</title>
  <style type='text/css'>%CSS</style>

<link rel='stylesheet' href='http://server2.bitcat.ru/bc/modules/bitcat/color2/spectrum.css'>
<?php
  if ($GLOBALS["AJAX_SAVER"]):
?>
  <script type='text/javascript'>
    var formAsyncSaveEnabled = true;
    var NETCAT_HTTP_REQUEST_SAVING = "<?= str_replace('"', "&quot;", NETCAT_HTTP_REQUEST_SAVING) ?>";
    var NETCAT_HTTP_REQUEST_SAVED  = "<?= str_replace('"', "&quot;", NETCAT_HTTP_REQUEST_SAVED) ?>";
    var NETCAT_HTTP_REQUEST_ERROR  = "<?= str_replace('"', "&quot;", NETCAT_HTTP_REQUEST_ERROR) ?>";
  </script>
<?php else: ?>
  <script type='text/javascript'>var formAsyncSaveEnabled = false;</script>
<?php endif; ?>
<LINK href='/css.css' rel='Stylesheet' type='text/css'>
</head>
<body class='nc_edit_objects'>
<!-- /Header -->

<!-- Footer --></body>
</html><!-- /Footer -->