@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  src: local('Gabriela Regular'), local('Gabriela-Regular'), url(https://fonts.gstatic.com/s/gabriela/v7/qkBWXvsO6sreR8E-b8m9xL0.woff) format('woff');
}
