<?php
$connectTemplate = $DOCUMENT_ROOT.$pathInc2."/template/{$classID}/AddCond.html";
if($current_catalogue['customCode'] && file_exists($connectTemplate)){
  include($connectTemplate);
}else{

    /*if ($phone[0] && $phone[1]) {
    	$f_phone = "+7{$phone[0]}{$phone[1]}";
    } else {
        $posting = 0;
        echo json_encode(ARRAY(
            "title" => "Ошибка",
            "error" => "Номер указан неверно"
        ));
        exit;
    }*/
     
    $f_time = "с {$time1} до {$time2}";

    if (!$f_Name || !$f_phone || !$f_time) {
        $posting = 0;
        echo json_encode(ARRAY(
            "title" => getLangWord('error',"Ошибка"),
            "error" => getLangWord('er_txt_fillReq',"Заполните все обязательные поля.")
        ));
        exit;
    }


	// антиспам от робота
	if (!$hdiaca || $hdiaca/63312!=date("j")) {
		$posting = 0;
		echo json_encode(ARRAY(
			"title" => getLangWord('error',"Ошибка"),
			"error" => "Вы робот?"
		));
		exit;
	}
    if ($catalogue == 857) {
        file_put_contents('/var/www/krza/data/www/krza.ru/a/ipchelny/log_2013_message.txt', print_r(['post' => $_POST, 'get' => $_GET, 'server' => $_SERVER, 'sesion' => $_SESSION ],1), FILE_APPEND);
    }
    
    // проверка на кол-во отправленных писем с одного ip в час
/*	$ipcount = $db->get_var("SELECT count(Message_ID) as cnt from Message{$classID} where IP = '".getIP()."' AND Created >= now() - interval 30 minute");
	if ($ipcount>2 && $_SERVER['REMOTE_ADDR']!='31.13.133.138') {
		$posting = 0;
		echo json_encode(ARRAY(
			"title" => getLangWord('error',"Ошибка"),
			"error" => getLangWord('er_txt_alradyWrite',"Вы нам уже писали, мы видели ваш запрос.")
		));
		exit;
	}*/

    $f_Catalogue_ID = $catalogue;

}
?>
