/* css reset */
/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

@font-face {
    font-family: 'bebas_neue';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
    url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
    url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: bold;
    font-style: normal;
}

BODY { font: 18px/26px "Open Sans", sans-serif; color: #777; background: #FFF; }

STRONG { font-weight: bold; }
EM { font-style: italic; }
UL { list-style-type: disc; list-style-position: inside; }
OL { list-style-type: decimal; list-style-position: inside; }
UL UL, OL UL { list-style-type: circle; list-style-position: inside; margin-left: 15px; }
OL OL, UL OL { list-style-type: lower-latin; list-style-position: inside; margin-left: 15px; }
.nc-ckeditor-inline-single-line { width: 100%; }

/* @todo TEMPORARY? */
.tpl-block-page-block .nc-toolbar {
    position: absolute;
}
.tpl-block-page-block .nc-infoblock-toolbar {
    position: absolute;
    right: 10px;
}

