<!-- FormPrefix --><?= $f_AdminCommon; ?><!-- /FormPrefix -->

<!-- RecordTemplate --><div class='object-item tpl-text-default'>
    <?= $f_AdminButtons; ?>
    <a href="<?= $fullLink; ?>" class='item-image'>
        <div class="image">
            <?php if ($f_Image) { ?>
                <?= $f_Image->resize(600, 370)->as_img(); ?>
            <?php } ?>
        </div>
    </a>
    <?php if ($admin_mode || $f_Category): ?>
        <div class="item-category tpl-text-default-small">
            <?= nc_edit_inline('Category', $f_RowID, $cc_env['Sub_Class_ID']); ?>
        </div>
    <?php endif; ?>
    <div class='item-info tpl-text-header4'>
        <span class="item-name"><?= nc_edit_inline('Name', $f_RowID, $cc_env['Sub_Class_ID']); ?></span>
        <span class="item-price"><?= nc_edit_inline('Price', $f_RowID, $cc_env['Sub_Class_ID']); ?></span>
    </div>
    <?php if ($admin_mode || $f_Description): ?>
        <div class="item-announce tpl-text-default-smaller"><?= nc_edit_inline('Description', $f_RowID,
                $cc_env['Sub_Class_ID']); ?></div>
    <?php endif; ?>
    <?php if ($fullLink): ?>
        <div class="item-link"><a href="<?= $fullLink; ?>">Подробнее</a></div>
    <?php endif; ?>
</div><!-- /RecordTemplate -->

<!-- FormSuffix --><?php if ($totRows > $recNum): ?>
  <?= nc_browse_messages($cc_env, 10); ?>
<?php endif; ?><!-- /FormSuffix -->