<section class="object-item-full tpl-text-default">
    <h1 class="item-title"><?= nc_edit_inline('Name', $message, $cc_env['Sub_Class_ID']); ?></h1>
    <?php if ($admin_mode || $f_Category): ?>
        <div class="item-category tpl-text-default-small"><?= nc_edit_inline('Category', $message, $cc_env['Sub_Class_ID']); ?></div>
    <?php endif; ?>
    <?php if ($admin_mode || $f_Price): ?>
        <div class="item-price"><?= nc_edit_inline('Price', $message, $cc_env['Sub_Class_ID']); ?></div>
    <?php endif; ?>
    <?= $f_AdminButtons; ?>
    <div class="item-image">
        <?= nc_image_edit_inline('Image', $message, $cc_env['Sub_Class_ID']); ?>
    </div>
    <?php if ($admin_mode || $f_Text): ?>
        <div class="item-text">
<!--            <div class="h3 about-title">Об услуге</div>-->
            <?= nc_edit_inline('Text', $message, $cc_env['Sub_Class_ID']); ?>
        </div>
    <?php endif; ?>
    <?php if ($f_Slider->count() > 0): ?>
        <div class="h5">Все фото</div>
        <div class="item-slider">
            <?= $f_Slider->set_template($f_Slider_big)->get_record(1); ?>
            <?= $f_Slider->set_template($f_Slider_preview); ?>
        </div>
    <?php endif; ?>
</section>
<?php if ($f_Slider->count() > 0): ?>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            jQuery("#<?= $nc_block_id; ?> .slider-preview-list a").on("click", function (e) {
                e.preventDefault();
                jQuery("#<?= $nc_block_id; ?> .slider-preview-list a").removeClass('active');
                jQuery(this).addClass('active');
                let link = jQuery(this).attr("href");
                jQuery("#<?= $nc_block_id; ?> .slider-big-image img").attr("src", link);
            });
        })
    </script>
<?php endif; ?>