<?= $f_AdminButtons; ?>
<article class="client-full">
    <div class="client-info">
        <div class="client-logo"><?= nc_image_edit_inline('Image',$f_RowID, $cc_env['Sub_Class_ID']); ?></div>
        <div class="client-name">
            <?php if($admin_mode || $f_Category): ?><div class="client-category"><?= nc_edit_inline('Category', $f_RowID, $cc); ?></div><?php endif; ?>
            <h1 class="client-title"><?= nc_edit_inline('Name', $f_RowID, $cc); ?></h1>
        </div>
    </div>
    <div class="client-info">
        <div class="client-details">
            <?php if($admin_mode || $f_Announce || $f_URL): ?>
            <div class="details-title h6">О компании</div>
            <div class="details-text"><?= nc_edit_inline('Description', $f_RowID, $cc); ?></div>
            <div class="client-link">
                <?php if($admin_mode): ?>
                    <?= nc_edit_inline('URL', $f_RowID, $cc); ?>
                <?php elseif($f_URL): ?>
                    <a href="<?= $f_URL; ?>" target="_blank">Сайт компании</a>
                <?php endif; ?>
            </div>
            <?php endif; ?>
        </div>
        <div class="client-description"><?= nc_edit_inline('Text', $f_RowID, $cc); ?></div>
    </div>
</article>