<?php /* Служебная часть */for ($f_RowNum = 0; $f_RowNum < $rowCount; $f_RowNum++) {    if($fetch_row[$f_RowNum] instanceof Iterator) {        extract($fetch_row[$f_RowNum]->to_array(), EXTR_PREFIX_ALL, "f");    } else {        extract($fetch_row[$f_RowNum], EXTR_PREFIX_ALL, "f");    }    foreach($iteration_RecordTemplate[$f_RowNum] as $value) {        extract($value);    }    eval($cc_env["convert2txt"]);    ob_start();/* Конец служебной части */?>
<div class="tpl-block-container">
            <h3><?= nc_edit_inline('Title', $f_RowID, $cc) ?></h3>

            <div class="tpl-block-text">
                <span class="tpl-field-text"><?= nc_edit_inline('Text', $f_RowID, $cc) ?></span>
            </div>

            <?php 
                if (nc_module_check_by_keyword('requests') && $cc_settings['show_form_and_button']) {
                    echo nc_requests::make_form_popup_button($cc);
                }
            ?>

        </div>
        <div class="tpl-block-image"><?= nc_image_edit_inline('Image', $f_RowID, $cc) ?></div>
<?php /* Служебная часть */    echo nc_finishing_RecordTemplate(ob_get_clean(), $inside_admin, $classID, $f_RowID, $parent_message, $cc, $cc_env["Class_Name"], $no_cache_marks);}/* Конец служебной части */?>