<style>
  span.yandex_date {font-size: 85%; margin-right:0.5em;}
  div.yandex_informer {font-size: 85%; margin-bottom: 0.3em;}
  div.yandex_title {font-size: 100%; margin-bottom: 0.5em; }
  div.yandex_title a { }
  div.yandex_allnews {font-size: 80%; margin-top: 0.3em;}
  div.yandex_allnews {font-size: 80%; margin-top: 0.3em;}
  div.yandex_annotation {font-size: 85%; margin-bottom: 0.5em;}
</style>
<script src='http://news.yandex.ru/common.js'></script>
<script>m_index=false;</script>
<script src='http://news.yandex.ru/<?=$f_lang; ?>/<?=$f_tema.$kol[$f_kol]; ?>.js' type='text/javascript' charset='windows-1251'></script>
<script> 
  str='<div class=yandex_title><a href=http://news.yandex.ru><b>Яндекс.Новости</b></a></div>'; 
  if ((aObj=eval('m_<?=$f_tema; ?>')) && (aObj.length>0)){
    ".$sort[$f_sort]."
    for (j=0;j<aObj.length;j++) { 
      str+='<div>".$date[$f_date]."<span class=yandex_news_title><a href='+aObj[j].url+'>'+aObj[j].title+'</a></span></div>".$annotations[$f_annotations]."';
    }
    str+='<div class=yandex_allnews><a href=http://news.yandex.ru>Все новости на '+update_time+' мск  &gt;&gt;</a></div>';  document.write(str);
  }
</script>