.objects-item {
    border: 1px solid var(--tpl-color-foreground-accent);
    padding: 1.1rem;
    margin-bottom: 0.5rem;
}

.item-question {
    font-weight: 600;
    padding-left: 2.5rem;
    padding-right: 2rem;
    cursor: pointer;
    position: relative;
}

.objects-item[max-width~='500px'] .item-question {
    padding-right: 0;
}

.item-question:before {
    content: "+";
    position: absolute;
    left: 0;
    font-size: 2rem;
    line-height: 1rem;
    color: var(--tpl-color-brand);
}

.item-question[aria-expanded="true"]:before {
    content: "—";
}

.item-answer {
    padding-top: 1rem;
    padding-left: 2.5rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.objects-item[max-width~='500px'] .item-answer {
    padding-right: 0;
}