<?= $f_AdminButtons; ?>
<article class="vacancy-full tpl-text-default">
    <h1 class="item-title tpl-text-header1"><?= nc_edit_inline('Name', $f_RowID, $cc_env['Sub_Class_ID']); ?></h1>
    <div class="item-salary tpl-text-default-big">
        <?php if ($f_Salary): ?>
            <?= nc_edit_inline('Salary', $f_RowID, $cc_env['Sub_Class_ID']); ?>
        <?php else: ?>
            <div class="no-salary">з/п не указана</div>
            <?= nc_edit_inline('Salary', $f_RowID, $cc_env['Sub_Class_ID']); ?>
        <?php endif; ?>
    </div>
    <div class="item-details"><?= nc_edit_inline('Text', $f_RowID, $cc); ?></div>

    <?php if($cc_settings['SendEmailTo']): ?>
        <div class="send-email-block d-flex align-items-start justify-content-center">
            <span class="icon-email"></span>
            <span>Резюме присылайте на <a href="mailto:<?= $cc_settings['SendEmailTo']; ?>"><?= $cc_settings['SendEmailTo']; ?></a></span>
        </div>
    <?php endif; ?>
</article>