@font-face {
    font-family: 'Lato';
    src: local("Lato Regular"), local("Lato-Regular"), url("Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local("Lato Semibold Italic"), local("Lato-SemiboldItalic"), url("Lato-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: local("Lato Medium"), local("Lato-Medium"), url("Lato-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local("Lato Semibold"), local("Lato-Semibold"), url("Lato-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local("Lato Heavy"), local("Lato-Heavy"), url("Lato-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}