.tpl-block-page-block { position: relative; min-width: 460px; }
.tpl-block-content { margin: 0 auto; max-width: 1060px; min-width: 420px; padding: 10px 20px; }
.tpl-block-line { background: rgba(0, 0, 0, 0.1); height: 1px; }
