<?php 
global $setting;
if (!$inside_admin) objsys($bc_objsys,$classID,$message);

clearCache($classID,$sub);

@require_once($INCLUDE_FOLDER."classes/nc_imagetransform.class.php");

if ($_FILES['f_photo_preview'][size] != 0 ) {
  $photo_path = $DOCUMENT_ROOT.nc_file_path($classID, $message,'photo_preview', "");
  $imsize = getimagesize($photo_path);
  $ww = $setting[size2003_imagepx] ? $setting[size2003_imagepx] : 450;  $hh = 3000;
  if ($photo_path) {
    if ($ww<$imsize[0] || $hh<$imsize[1]) nc_ImageTransform::imgResize($photo_path, $photo_path, $ww, $hh, 0, 'jpg', 95, $message, 'photo_preview');
  }
}

if ($pathInc && file_exists($DOCUMENT_ROOT.$pathInc.'/images/watermark.png')) { 
    $photos = $db->get_results("select Path, ID from Multifield where Size != '1' AND Message_ID = '$message' AND Field_ID = '2366'", ARRAY_A);
    if ($photos) {
        foreach($photos as $fot) {
            if (!$notWater) nc_ImageTransform::putWatermark_file($fot[Path], $pathInc.'/images/watermark.png', 4);
            $db->query("UPDATE Multifield set Size = '1' where ID = '$fot[ID]'");
        }
    }
}


if($inside_admin) {
    ob_end_clean();
    header('Location: '.$goBackLink.'&inside_admin=1');
    exit;
} else { 
    echo json_encode(ARRAY(
        "title" => "ОК",
        "succes" =>  NETCAT_MODERATION_MSG_OBJADD,
        "reload" => 1
    ));
}
?>