<?php  if(!$inside_admin){ ?>

<?php  if ($warnText) { 
    echo json_encode(ARRAY(
        "title" => "Error",
        "error" => $warnText
    ));
} else { ?>
      <form name='adminForm' id='adminForm' class='ajax2' enctype='multipart/form-data' method='post' action='<?= $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>message.php'>
        <div id='nc_moderate_form'>
          <div class='nc_clear'></div>
          <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
          <?= $nc_core->token->get_input() ?>
          <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
          <input name='cc' type='hidden' value='<?= $cc ?>' />
          <input name='sub' type='hidden' value='<?= $sub ?>' /><input name='message' type='hidden' value='<?= $message ?>' />
          <input name='posting' type='hidden' value='1' />
          <input name='curPos' type='hidden' value='<?= $curPos ?>' />
          <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
          <?= nc_form_moderate('change', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
        </div>
        
        <?php  include("form.php"); ?>
        
        <div class="bc_submitblock">
          <div class='result'></div>
          <span class="btn-strt"><?= nc_submit_button(NETCAT_MODERATION_BUTTON_CHANGE) ?></span>
          <?=dropObjBut($message,$classID,"",$f_Checked)?>
        </div>
      </form>
    <?php }?>
    
<?php  }else{ ?>

    <?=( $warnText ? "<div class='warnText'>$warnText</div>" : NULL )?>
    <form name='adminForm' id='adminForm' class='nc-form' enctype='multipart/form-data' method='post' action='<?= $SUB_FOLDER ?><?= $HTTP_ROOT_PATH ?>message.php'>
    <div id='nc_moderate_form'>
    <div class='nc_clear'></div>
    <input name='admin_mode' type='hidden' value='<?= $admin_mode ?>' />
    <?= $nc_core->token->get_input() ?>
    <input name='catalogue' type='hidden' value='<?= $catalogue ?>' />
    <input name='cc' type='hidden' value='<?= $cc ?>' />
    <input name='sub' type='hidden' value='<?= $sub ?>' /><input name='message' type='hidden' value='<?= $message ?>' />
    <input name='posting' type='hidden' value='1' />
    <input name='curPos' type='hidden' value='<?= $curPos ?>' />
    <input name='f_Parent_Message_ID' type='hidden' value='<?= $f_Parent_Message_ID ?>' />
    <?= nc_form_moderate('change', $admin_mode, 0, $systemTableID, $current_cc, (isset($f_Checked) ? $f_Checked  : null), $f_Priority , $f_Keyword, $f_ncTitle, $f_ncKeywords, $f_ncDescription ) ?>
    </div>
    <?= nc_date_field('date', "", ($class_id ? $class_id : $classID), 1) ?><br />
    <br />
    <?= nc_string_field('name', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?><br />
    <br />
    <?= nc_text_field('text', "", ($class_id ? $class_id : $classID), 1) ?><br />
    <br />
    <?= nc_text_field('textfull', "", ($class_id ? $class_id : $classID), 1) ?><br />
    <br />
    <?= nc_file_field('photo_preview', "size='50'", ($class_id ? $class_id : $classID), 1) ?><br />
    <br />
    <?php  $f_photo->settings->resize(900, 900)->preview(450, 900)->use_name('Описание фото');?>
    <?= $f_photo->form() ?><br />
    <br />
    <?= nc_string_field('autor', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?><br />
    <br />
    <?= nc_string_field('source', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?><br />
    <br />
    <?= nc_string_field('url', "maxlength='255' size='50'", ($class_id ? $class_id : $classID), 1) ?><br />
    <br />
    <?= nc_bool_field('openlink', "", ($class_id ? $class_id : $classID ), 1) ?><br />
    <br />
    <?= nc_text_field('citytarget', "", ($class_id ? $class_id : $classID), 1) ?><br />
    <br />
    <?= nc_bool_field('showphoto', "", ($class_id ? $class_id : $classID ), 1) ?><br />
    <br />
    <div><?= NETCAT_MODERATION_INFO_REQFIELDS ?></div><br/>
    <?= nc_submit_button(NETCAT_MODERATION_BUTTON_CHANGE) ?>
    </form>
<?php  } ?>