<?php 
  $fields = array(
	"full" => 1,
    "inModal" => $inModal,
    "sub" => $sub,
    "cc" => $cc,
    "classID" => $classID,
    "nc_ctpl" => $nc_ctpl,
    "fullLink" => $fullLink,
    "editLink" => $editLink,
    "image_default" => $image_default,
    "fastprew" => $fastprew,
    "current_sub" => $current_sub,
    "current_cc" => $current_cc,
    "current_catalogue" => $current_catalogue,
    "RowID" => $f_RowID,
    "Checked" => $f_Checked,
    "template" => $template,
    "date" => $f_date,
    "name" => $f_name,
    "text" => $f_text,
    "textfull" => $f_textfull,
    "photo_preview" => $f_photo_preview,
    "photo" => $f_photo,
    "autor" => $f_autor,
    "source" => $f_source,
    "url" => $f_url,
    "openlink" => $f_openlink,
    "citytarget" => $f_citytarget,
    "showphoto" => $f_showphoto
  );
  $class2003 = new Class2003($fields);
  echo $class2003->getItemFull();
?>