@font-face {
  font-family: 'Oranienbaum';
  font-style: normal;
  font-weight: 400;
  src: local('Oranienbaum'), local('Oranienbaum-Regular'), url(https://fonts.gstatic.com/s/oranienbaum/v7/OZpHg_txtzZKMuXLIVrx-0zk5Es.woff) format('woff');
}
