@font-face {
  font-family: 'Ruslan Display';
  font-style: normal;
  font-weight: 400;
  src: local('Ruslan Display'), local('RuslanDisplay'), url(https://fonts.gstatic.com/s/ruslandisplay/v9/Gw6jwczl81XcIZuckK_e3Upfdwxon9s.woff) format('woff');
}
