@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.gstatic.com/s/marckscript/v9/nwpTtK2oNgBA3Or78gapdwuyzCg5.woff) format('woff');
}
